In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(list('asdedasdeasdeasdeasde'))
s

0     a
1     s
2     d
3     e
4     d
5     a
6     s
7     d
8     e
9     a
10    s
11    d
12    e
13    a
14    s
15    d
16    e
17    a
18    s
19    d
20    e
dtype: object

In [ ]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [ ]:
s.value_counts()

d    6
a    5
e    5
s    5
dtype: int64

In [ ]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [ ]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [ ]:
dados.Tipo.value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64